<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skcc.tongrpa.jobReq.JobExecReqDao" >

   <select id="getJobExecReqList" resultType="com.skcc.tongrpa.jobReq.JobExecReqModel">
       SELECT JE.*,AI.AGENT_STATUS from JOB_EXEC_REQ_LOG JE, JOB_AGENT AI 
        WHERE 1=1
       <if test="jobExecReqId !=null and  jobExecReqId !=''">
         AND JE.EXEC_REQ_ID=#{jobExecReqId}
		</if>
		<if test="agentId !=null and  agentId !=''">
		 AND JE.AGENT_ID=#{agentId}
		</if>		
		<if test="jobId !=null and  jobId !=''">
		 AND JE.JOB_ID=#{jobId}
		</if>
		<if test="jobStatus !=null and  jobStatus !=''">
		 AND JE.JOB_STATUS=#{jobStatus}
		</if>
		<if  test="staDtm !=null and  staDtm !='' and  endDtm !=null and  endDtm !=''" >
		   AND  JE.UPD_DTM   BETWEEN CAST(#{staDtm}  AS DATETIME) AND CAST(#{endDtm} AS DATETIME)
		</if>
         ORDER BY JE.UPD_DTM DESC
   </select>    

   <select id="getJobExecReqInfo" resultType="com.skcc.tongrpa.jobReq.JobExecReqModel">
       select * from JOB_EXEC_REQ_LOG WHERE EXEC_REQ_ID=#{jobId}
   </select>    
      
  <insert id="insertJobExecReq">
    INSERT INTO JOB_EXEC_REQ_LOG(EXEC_REQ_ID, AGENT_ID, JOB_ID, REG_USER)
    VALUES(#{jobExecReqId}, #{agentId}, #{jobId}, #{regUser})
  </insert>

   <update id="updateJobExecReqInfo">
    UPDATE JOB_EXEC_REQ_LOG 
    SET
     JOB_STATUS= #{jobStatus},
     RLT_STATUS= #{rltStatus},     
     RLT_DATA= #{rltData}
    WHERE EXEC_REQ_ID = #{jobExecReqId}
  </update>
   <update id="updateJobExecReqStatus">
    UPDATE JOB_EXEC_REQ_LOG 
    SET
     JOB_STATUS= #{jobStatus}
    WHERE EXEC_REQ_ID = #{jobExecReqId}
  </update>  
</mapper>